@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300;400;700&display=swap");
body {
  margin: 0 auto !important;
  max-width: 1600px;
  box-shadow: 0 0 5px 5px #cccccc;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 90px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
  padding-top: 30px;
}
.header__container__nav nav {
  display: flex;
  justify-content: space-around;
}
.header__container__nav nav a {
  position: relative;
  margin: 0 40px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}
.header__container__nav nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000000;
  transition: 0.5s ease;
}
.header__container__nav nav a:hover::before {
  width: 100%;
}

.main-represent__slider--item {
  width: 1600px;
}
.main-represent__slider--item h2, .main-represent__slider--item p {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.main-represent__slider--item h2 {
  font-size: 48px;
  color: white;
  background: black;
  letter-spacing: 0.1em;
  width: 700px;
  margin: 260px auto 35px;
}
.main-represent__slider--item p {
  font-size: 18px;
  color: black;
  letter-spacing: 0.4em;
  margin: 0;
}
.main-represent__slider div:nth-child(1) {
  background: url("../img/represent-2.jpg");
  height: 650px;
}
.main-represent__slider div:nth-child(2) {
  background: url("../img/represent-1.jpg");
  height: 650px;
}

.main-bar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-bar__content {
  width: 1140px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}
.main-bar__content--line {
  border: 1px solid #DADADA;
  width: 0;
  height: 30px;
  transform: rotate(25deg);
}
.main-bar__content div {
  margin: 0 20px;
}
.main-bar__content div:nth-child(2n-1) {
  cursor: pointer;
}

.main-gallery {
  height: 1400px;
}
.main-gallery__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-gallery__content__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1115px;
}
.main-gallery__content__left div {
  width: 360px;
  cursor: pointer;
}
.main-gallery__content__left div:hover {
  box-shadow: 0 0 5px 5px #959595;
  transition: all 0.5s ease-in-out;
}
.main-gallery__content__left div:nth-child(1) {
  background: url("../img/gallery-1.jpg");
  height: 350px;
}
.main-gallery__content__left div:nth-child(2) {
  background: url("../img/gallery-2.jpg");
  height: 250px;
}
.main-gallery__content__left div:nth-child(3) {
  background: url("../img/gallery-3.jpg");
  height: 450px;
}
.main-gallery__content__center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1300px;
  margin: 0 30px;
}
.main-gallery__content__center div {
  width: 360px;
  cursor: pointer;
}
.main-gallery__content__center div:hover {
  box-shadow: 0 0 5px 5px #959595;
  transition: all 0.5s ease-in-out;
}
.main-gallery__content__center div:nth-child(1) {
  background: url("../img/gallery-4.jpg");
  height: 250px;
}
.main-gallery__content__center div:nth-child(2) {
  background: url("../img/gallery-5.jpg");
  height: 350px;
}
.main-gallery__content__center div:nth-child(3) {
  background: url("../img/gallery-6.jpg");
  height: 250px;
}
.main-gallery__content__center div:nth-child(4) {
  background: url("../img/gallery-7.jpg");
  height: 350px;
}
.main-gallery__content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1115px;
}
.main-gallery__content__right div {
  width: 360px;
  cursor: pointer;
}
.main-gallery__content__right div:hover {
  box-shadow: 0 0 5px 5px #959595;
  transition: all 0.5s ease-in-out;
}
.main-gallery__content__right div:nth-child(1) {
  background: url("../img/gallery-8.jpg");
  height: 430px;
}
.main-gallery__content__right div:nth-child(2) {
  background: url("../img/gallery-9.jpg");
  height: 250px;
}
.main-gallery__content__right div:nth-child(3) {
  background: url("../img/gallery-10.jpg");
  height: 350px;
}
.main-gallery__btn {
  background: #959595;
  height: 30px;
  width: 125px;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
.main-gallery__btn:hover {
  color: #959595;
  background: #DADADA;
  transition: all 0.5s ease-in-out;
}

.about-welcome__content {
  background: url("../img/welcome_bg.jpg");
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-welcome__content h2, .about-welcome__content p {
  font-weight: 300;
  text-transform: uppercase;
}
.about-welcome__content h2 {
  font-size: 48px;
  color: white;
  background: black;
  letter-spacing: 0.1em;
  width: 590px;
  text-align: center;
  margin: 0 0 0 230px;
}
.about-welcome__content p {
  font-size: 18px;
  color: black;
  letter-spacing: 0.4em;
  margin: 40px 0 0 230px;
}

.about-story__content {
  width: 1140px;
  height: 600px;
  margin: 0 auto 25px;
  padding-top: 70px;
  display: flex;
}
.about-story__content__left {
  background: url("../img/story.jpg");
  width: 530px;
  height: 600px;
  margin-right: 50px;
}
.about-story__content__right {
  width: 560px;
}
.about-story__content__right h3 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.4em;
  margin: 8px 0 40px;
  text-transform: uppercase;
}
.about-story__content__right p {
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 40px;
}
.about-story__content__right__details h4 {
  font-weight: 700;
  font-size: 16px;
  margin: 30px 0 15px;
}
.about-story__content__right__details__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: #DADADA;
  height: 10px;
  position: relative;
}
.about-story__content__right__details__item div:nth-child(1) {
  height: 0;
  border: 2px solid #000000;
}
.about-story__content__right__details__item div:nth-child(2) {
  width: 4px;
  height: 4px;
  border: 3px solid #000000;
  border-radius: 50%;
}
.about-story__content__right__details__item #perc-1 {
  width: 495px;
}
.about-story__content__right__details__item #perc-2 {
  width: 523px;
}
.about-story__content__right__details__item #perc-3 {
  width: 275px;
}
.about-story__content__right__details__item #perc-4 {
  width: 468px;
}
.about-story__content__right__details__item div:nth-child(3) {
  position: absolute;
  width: 40px;
  height: 20px;
  background: #000000;
  top: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.about-story__content__right__details__item div:nth-child(3):before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 31px;
  top: 20px;
  border-right: 9px solid #000000;
  border-bottom: 9px solid transparent;
  transform: rotate(-90deg);
}
.about-story__content__right__details__item #perc-1-1 {
  left: 503px;
}
.about-story__content__right__details__item #perc-1-2 {
  left: 531px;
}
.about-story__content__right__details__item #perc-1-3 {
  left: 283px;
}
.about-story__content__right__details__item #perc-1-4 {
  left: 476px;
}

.about-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  height: 980px;
}
.about-team h2 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  padding-top: 65px;
  margin: 0;
}
.about-team h2 + p {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  width: 45%;
  margin: 35px 0 70px;
  color: #959595;
}
.about-team__content {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.about-team__content__item {
  background: white;
  width: 360px;
}
.about-team__content__item h3 {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  margin: 30px 0 10px 35px;
}
.about-team__content__item h4 {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 20px 35px;
  color: #959595;
}
.about-team__content__item p {
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 25px 35px;
  color: #959595;
}

.portfolio-projects__content {
  background: url("../img/projects_bg.jpg");
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.portfolio-projects__content h2, .portfolio-projects__content p {
  font-weight: 300;
  text-transform: uppercase;
}
.portfolio-projects__content h2 {
  font-size: 48px;
  color: white;
  background: black;
  letter-spacing: 0.1em;
  width: 540px;
  text-align: center;
  margin: 0 0 0 230px;
}
.portfolio-projects__content p {
  font-size: 18px;
  color: black;
  letter-spacing: 0.4em;
  margin: 40px 0 0 230px;
}

.portfolio-navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}
.portfolio-navbar__left {
  display: flex;
  align-items: center;
}
.portfolio-navbar__left div {
  cursor: pointer;
}
.portfolio-navbar__left div:nth-child(1) {
  height: 6px;
  width: 6px;
  transform: rotate(45deg);
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  margin-right: 20px;
}
.portfolio-navbar__left div:nth-child(2) {
  margin-right: 50px;
}
.portfolio-navbar__left div:nth-child(4) {
  height: 6px;
  width: 6px;
  transform: rotate(225deg);
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  margin-left: 20px;
}
.portfolio-navbar__right {
  display: flex;
  align-items: center;
}
.portfolio-navbar__right svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.portfolio__details {
  background: #FAFAFA;
}
.portfolio__details__item {
  padding-top: 70px;
  width: 1140px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.portfolio__details__item__text {
  width: 550px;
}
.portfolio__details__item__text h3 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.portfolio__details__item__text h4 {
  font-weight: 700;
  letter-spacing: 0.025em;
  margin: 0 0 25px;
}
.portfolio__details__item__text h4 + div {
  border-top: 2px solid #959595;
  border-bottom: 2px solid #959595;
}
.portfolio__details__item__text h4 + div h6 {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.025em;
  margin: 30px 55px 40px 0;
}
.portfolio__details__item__text h4 + div h6 i {
  margin: 0 20px;
}
.portfolio__details__item__text h4 + div p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.025em;
  line-height: 30px;
  color: #959595;
  margin: 0 0 60px;
}
.portfolio__details__item__text h5 {
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin: 45px 0 30px;
}
.portfolio__details__item__text h5 + p {
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #959595;
  margin: 0;
}
.portfolio__details__item__text__share {
  display: flex;
  justify-content: space-between;
  width: 385px;
  height: 42px;
  margin: 55px 0 0;
}
.portfolio__details__item__text__share div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
}
.portfolio__details__item__text__share div:nth-child(1) {
  background: #959595;
  width: 87px;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}
.portfolio__details__item__text__share div:nth-child(1):hover {
  color: #959595;
  background: #DADADA;
  transition: all 0.5s ease-in-out;
}
.portfolio__details__item__text__share div:nth-child(2) {
  position: relative;
  background: #E1E1E1;
  width: 285px;
  color: #959595;
}
.portfolio__details__item__text__share div:nth-child(2) i {
  cursor: pointer;
}
.portfolio__details__item__text__share div:nth-child(2) i:hover {
  color: black;
}
.portfolio__details__item__text__share div:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -5px;
  top: 17px;
  border-right: 9px solid #E1E1E1;
  border-bottom: 9px solid transparent;
  transform: rotate(-135deg);
}
.portfolio__details__item__gallery__poster {
  width: 550px;
  height: 350px;
  background: url("../img/portfolio-1-big.jpg");
}
.portfolio__details__item__gallery__poster-2 {
  width: 485px;
  height: 514px;
  background: url("../img/portfolio-5-big.jpg");
}
.portfolio__details__item__gallery__slides {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.portfolio__details__item__gallery__slides div {
  width: 130px;
  height: 115px;
}
.portfolio__details__item__gallery__slides div:nth-child(1) {
  background: url("../img/portfolio-1.jpg");
}
.portfolio__details__item__gallery__slides div:nth-child(2) {
  background: url("../img/portfolio-2.jpg");
}
.portfolio__details__item__gallery__slides div:nth-child(3) {
  background: url("../img/portfolio-3.jpg");
}
.portfolio__details__item__gallery__slides div:nth-child(4) {
  background: url("../img/portfolio-4.jpg");
}
.portfolio__details__item__gallery__slides-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.portfolio__details__item__gallery__slides-2 div {
  width: 116px;
  height: 115px;
}
.portfolio__details__item__gallery__slides-2 div:nth-child(1) {
  background: url("../img/portfolio-5.jpg");
}
.portfolio__details__item__gallery__slides-2 div:nth-child(2) {
  background: url("../img/portfolio-6.jpg");
}
.portfolio__details__item__gallery__slides-2 div:nth-child(3) {
  background: url("../img/portfolio-7.jpg");
}
.portfolio__details__item__gallery__slides-2 div:nth-child(4) {
  background: url("../img/portfolio-8.jpg");
}
.portfolio__details__item:nth-child(2) {
  display: none;
}

.portfolio-related {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
}
.portfolio-related h2 {
  font-weight: 400;
  font-size: 30px;
  padding-top: 50px;
  margin: 0 0 40px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
.portfolio-related p {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  width: 45%;
  text-align: center;
  margin: 0 0 30px;
}
.portfolio-related div {
  width: 1130px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.portfolio-related img {
  cursor: pointer;
}
.portfolio-related img:hover {
  box-shadow: 0 0 5px 5px #959595;
}

.blog-heading__content {
  background: url("../img/blog-1.jpg");
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.blog-heading__content h2, .blog-heading__content p {
  font-weight: 300;
  text-transform: uppercase;
}
.blog-heading__content h2 {
  font-size: 48px;
  color: white;
  background: black;
  letter-spacing: 0.1em;
  width: 590px;
  text-align: center;
  margin: 0 0 0 230px;
}
.blog-heading__content p {
  font-size: 18px;
  color: black;
  letter-spacing: 0.4em;
  margin: 40px 0 0 230px;
}

.blog-main {
  background: #FAFAFA;
  height: 1600px;
}
.blog-main__content {
  width: 1140px;
  height: 1410px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.blog-main__content__posts {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.blog-main__content__posts div {
  width: 360px;
}
.blog-main__content__posts #blog-video {
  background: url("../img/blog-post-4.jpg");
  width: 360px;
  height: 245px;
}
.blog-main__content__posts section {
  width: 110px;
  height: 26px;
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0 45px;
  text-transform: uppercase;
  font-size: 13px;
}
.blog-main__content__posts h3 {
  font-weight: 700;
  font-size: 20px;
  margin: 30px 0 20px 45px;
  width: 70%;
}
.blog-main__content__posts h4 {
  font-weight: 400;
  font-size: 13px;
  margin: 0 0 30px 45px;
  color: #959595;
}
.blog-main__content__posts h4 i {
  margin-right: 5px;
}
.blog-main__content__posts p {
  width: 80%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 45px 45px;
  color: #959595;
}
.blog-main__content__posts h5 {
  width: 80%;
  font-weight: 400;
  font-size: 13px;
  margin: 0 0 25px 45px;
  color: #959595;
}
.blog-main__content__posts h5 i:nth-child(2) {
  margin: 0 15px 0 120px;
}
.blog-main__content__posts__left, .blog-main__content__posts__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.blog-main__content__posts__left div, .blog-main__content__posts__right div {
  box-shadow: 0 0 5px 2px #959595;
}
.blog-main__content__posts__left {
  height: 1315px;
}
.blog-main__content__posts__right {
  height: 1410px;
}
.blog-main__content__sidebar {
  width: 360px;
  height: 1000px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
}
.blog-main__content__sidebar__unit {
  position: relative;
  height: 40px;
  width: 100%;
  background: #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
.blog-main__content__sidebar__unit::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 175px;
  top: 34px;
  border-right: 10px solid #E1E1E1;
  border-bottom: 10px solid transparent;
  transform: rotate(135deg);
}
.blog-main__content__sidebar__posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 335px;
}
.blog-main__content__sidebar__posts > div {
  display: flex;
  justify-content: space-between;
}
.blog-main__content__sidebar__posts > div div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.blog-main__content__sidebar__posts > div div h3 {
  font-weight: 400;
  margin: 0 0 15px;
}
.blog-main__content__sidebar__posts > div div p {
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  color: #959595;
}
.blog-main__content__sidebar__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 115px;
  width: 80%;
}
.blog-main__content__sidebar__tags div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 13px;
  color: #959595;
  border: 2px solid #959595;
  padding-right: 10px;
  padding-left: 10px;
}
.blog-main__content__sidebar__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.blog-main__btn {
  width: 124px;
  height: 30px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #959595;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}
.blog-main__btn:hover {
  color: #959595;
  background: #DADADA;
  transition: all 0.5s ease-in-out;
}

.contact-welcome__content {
  background: url("../img/welcome_bg.jpg");
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact-welcome__content h2, .contact-welcome__content p {
  font-weight: 300;
  text-transform: uppercase;
}
.contact-welcome__content h2 {
  font-size: 48px;
  color: white;
  background: black;
  letter-spacing: 0.1em;
  width: 440px;
  text-align: center;
  margin: 0 0 0 230px;
}
.contact-welcome__content p {
  font-size: 18px;
  color: black;
  letter-spacing: 0.4em;
  margin: 40px 0 0 230px;
}

.contact-info__content {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 80px;
  padding-top: 80px;
}
.contact-info__content__text h3 {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.4em;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.contact-info__content__text h4 {
  font-weight: 300;
  letter-spacing: 0.025em;
  margin: 0 0 20px;
}
.contact-info__content__text div {
  height: 0;
  width: 60px;
  border-bottom: 2px solid #000000;
  margin: 0 0 40px;
}
.contact-info__content__text p {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.025em;
  color: #959595;
}
.contact-info__content__text p span {
  font-weight: 700;
  color: #000000;
}
.contact-info__content__text p:nth-child(4), .contact-info__content__text p:nth-child(5) {
  margin: 0 0 35px;
}
.contact-info__content__text p:nth-child(6), .contact-info__content__text p:nth-child(7) {
  margin: 0 0 10px;
}
.contact-info__content__form {
  width: 750px;
}
.contact-info__content__form div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
}
.contact-info__content__form div input {
  border: 1px solid #959595;
  width: 340px;
  height: 40px;
  padding: 0 0 0 20px;
}
.contact-info__content__form textarea {
  width: 730px;
  height: 130px;
  border: 1px solid #959595;
  padding: 20px 0 0 20px;
  margin: 0 0 30px;
  resize: none;
}
.contact-info__content__form button {
  width: 220px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.contact-map {
  height: 360px;
  width: 100%;
}

.contact-values {
  background: #FAFAFA;
  height: 740px;
}
.contact-values h3 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4em;
  padding-top: 65px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 35px;
}
.contact-values p {
  width: 35%;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: #959595;
  text-align: center;
  margin: 0 auto 55px;
}
.contact-values__menu {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact-values__menu div {
  width: 355px;
}
.contact-values__menu div h4 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 25px 0 40px;
}
.contact-values__menu div p {
  font-weight: 300;
  font-size: 14px;
  color: #959595;
  text-align: left;
  width: 95%;
  margin: 0;
}

.footer {
  height: 250px;
  background: #DADADA;
}
.footer__logo {
  width: 135px;
  margin: 0 auto 20px;
  padding-top: 50px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 35px;
  width: 1140px;
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
}
.footer__social i {
  margin: 15px;
  cursor: pointer;
  color: #959595;
}
.footer__social i:hover {
  color: black;
}
.footer p {
  text-align: center;
  font-weight: 700;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
