@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300;400;700&display=swap');
//font-family: 'Lato', sans-serif;

body {
  margin: 0 auto !important;
  max-width: 1600px;
  box-shadow: 0 0 5px 5px #cccccc;
  font-family: 'Roboto', sans-serif;
}
.header {
  height: 90px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    &__nav {
      nav {
        display: flex;
        justify-content: space-around;
        a {
          position: relative;
          margin: 0 40px;
          text-decoration: none;
          color: #000000;
          font-size: 14px;
          font-weight: 700;
        }
        a::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: #000000;
          transition: .5s ease;
        }
        a:hover::before  {
          width: 100%;
        }
      }
    }
  }
}
.represent {
  &__slider {
    &--item {
      width: 1600px;
      h2, p {
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
      }
      h2 {
        font-size: 48px;
        color: white;
        background: black;
        letter-spacing: .1em;
        width: 700px;
        margin: 260px auto 35px;
      }
      p {
        font-size: 18px;
        color: black;
        letter-spacing: .4em;
        margin: 0;
      }
    }
    div:nth-child(1) {
      background: url("../img/represent-1.jpg");
      height: 650px;
    }
    div:nth-child(2) {
      background: url("../img/represent-2.jpg");
      height: 650px;
    }
  }
}
.bar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    width: 1140px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    &--line {
      border: 1px solid #DADADA;
      width: 0;
      height: 30px;
      transform: rotate(25deg);
    }
    div {
      margin: 0 20px;
    }
    div:nth-child(2n-1) {
      cursor: pointer;
    }
  }
}
.gallery {
  height: 1400px;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 1115px;
      div {
        width: 360px;
        cursor: pointer;
      }
      div:hover {
        box-shadow: 0 0 5px 5px #959595;
        transition: all .5s ease-in-out;
      }
      div:nth-child(1) {
        background: url("../img/gallery-1.jpg");
        height: 350px;
      }
      div:nth-child(2) {
        background: url("../img/gallery-2.jpg");
        height: 250px;
      }
      div:nth-child(3) {
        background: url("../img/gallery-3.jpg");
        height: 450px;
      }
    }
    &__center {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 1300px;
      margin: 0 30px;
      div {
        width: 360px;
        cursor: pointer;
      }
      div:hover {
        box-shadow: 0 0 5px 5px #959595;
        transition: all .5s ease-in-out;
      }
      div:nth-child(1) {
        background: url("../img/gallery-4.jpg");
        height: 250px;
      }
      div:nth-child(2) {
        background: url("../img/gallery-5.jpg");
        height: 350px;
      }
      div:nth-child(3) {
        background: url("../img/gallery-6.jpg");
        height: 250px;
      }
      div:nth-child(4) {
        background: url("../img/gallery-7.jpg");
        height: 350px;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 1115px;
      div {
        width: 360px;
        cursor: pointer;
      }
      div:hover {
        box-shadow: 0 0 5px 5px #959595;
        transition: all .5s ease-in-out;
      }
      div:nth-child(1) {
        background: url("../img/gallery-8.jpg");
        height: 430px;
      }
      div:nth-child(2) {
        background: url("../img/gallery-9.jpg");
        height: 250px;
      }
      div:nth-child(3) {
        background: url("../img/gallery-10.jpg");
        height: 350px;
      }
    }
  }
  &__btn {
    background: #959595;
    height: 30px;
    width: 125px;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
  }
  &__btn:hover {
    color: #959595;
    background: #DADADA;
    transition: all .5s ease-in-out;
  }
}
.welcome {
  &__content {
    background: url("../img/welcome_bg.jpg");
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2, p {
      font-weight: 300;
      text-transform: uppercase;
    }
    h2 {
      font-size: 48px;
      color: white;
      background: black;
      letter-spacing: .1em;
      width: 700px;
      text-align: center;
      margin: 0 0 0 230px;
    }
    p {
      font-size: 18px;
      color: black;
      letter-spacing: .4em;
      margin: 40px 0 0 230px;
    }
  }

}
.story {
  &__content {
    width: 1140px;
    height: 600px;
    margin: 0 auto 25px;
    padding-top: 70px;
    display: flex;
    &__left {
      background: url("../img/story.jpg");
      width: 530px;
      height: 600px;
      margin-right: 50px;
    }
    &__right {
      width: 560px;
      h3 {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: .4em;
        margin: 8px 0 40px;
        text-transform: uppercase;
      }
      p {
        font-weight: 300;
        font-size: 14px;
        margin: 0 0 40px;
      }
      &__details {
        h4 {
        font-weight: 700;
        font-size: 16px;
        margin: 30px 0 15px;
      }
        &__item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          background: #DADADA;
          height: 10px;
          position: relative;
          div:nth-child(1) {
            height: 0;
            border: 2px solid #000000;
          }
          div:nth-child(2) {
            width: 4px;
            height: 4px;
            border: 3px solid #000000;
            border-radius: 50%;
          }
          #perc-1 {
            width: 495px;
          }
          #perc-2 {
            width: 523px;
          }
          #perc-3 {
            width: 275px;
          }
          #perc-4 {
            width: 468px;
          }
          div:nth-child(3) {
            position: absolute;
            width: 40px;
            height: 20px;
            background: #000000;
            top: -35px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 12px;
            font-weight: 400;
            &:before {
              content: "";
              width: 0;
              height: 0;
              position: absolute;
              right: 31px;
              top: 20px;
              border-right: 9px solid #000000;
              border-bottom: 9px solid transparent;
              transform: rotate(-90deg);
            }
          }
          #perc-1-1 {
            left: 503px;
          }
          #perc-1-2 {
            left: 531px;
          }
          #perc-1-3 {
            left: 283px;
          }
          #perc-1-4 {
            left: 476px;
          }
        }
      }
    }
  }
}
.footer {
  height: 250px;
  background: #DADADA;
  &__logo {
    width: 135px;
    margin: 0 auto 20px;
    padding-top: 50px;
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 35px;
    width: 1140px;
    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;
    i {
      margin: 15px;
      cursor: pointer;
      color: #959595;
    }
    i:hover {
      color: black;
    }
  }
  p {
    text-align: center;
    font-weight: 700;
    margin: 0;
  }
}
